@use '../../../scss/' as *;

.block-order{
    .order-container{
        margin-top: 48px;
        padding: 30px 20px;
    }

    .order-add{
        margin: 0 0 20px 12px;

        a{
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .order-table{
        border-collapse: collapse !important;
        padding-bottom: 30px;

        thead, tbody, tr {
            border-bottom: 1px solid #e9ecef !important;
            border-top: 1px solid #e9ecef !important;
        }

        thead>tr>th {
            padding: 12px 12px;
            color: #8898aa;
            font-size: 14px;
            background-color: #f6f9fc;
            text-align: center;
        }

        tbody>tr>td {
            padding: 12px 12px;
            color: #8898aa;
            font-size: 14px;
            background-color: #f6f9fc;
            text-align: center;
        }

        .order-status{
            font-size: 12px;
            font-weight: 600;
            color: $white-color;
            padding: 4px 8px;
            border-radius: 33px;

            &.active{
                background: $green-color;
            }
            &.inactive{
                background: $red-color;
                opacity: 0.7;
            }
        }
    }
}

.order__detail{
    h3{
        font-size: 20px;
    }
    &-container{
        margin-top: 48px;
        padding: 30px 20px;
    }

    &-head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &-group{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 300px;
    }

    &-item{
        display: flex;
        gap: 24px;
        margin-bottom: 16px;
        border: 1px solid #929292;
        border-radius: 20px;

        img{
            max-width: 150px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;          
        }

        .detail-item-info{
            display: flex;
            flex-direction: column;
            padding: 20px 20px 20px 0;
            font-size: 16px;
            line-height: 20px;

            label{
                font-weight: 400;
                margin-bottom: 16px;
            }
            span{
                font-weight: 600;
            }
        }
    }

    &-foot{
        margin-top: 10px;
        border-top: 1px solid $black-color;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &-status{
        display: flex;
        flex-direction: column;
        gap: 16px;

        label{
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
        }

        span{
            margin-left: 8px;
        }

        .order-status{
            background: #1AC073;
            border-radius: 33px;
            color: $white-color;
            padding: 2px 8px;
            font-size: 16px;
        }

    }
    &-group-btn{
        display: flex;
        gap: 24px;

        button{
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
            height: fit-content;
            border-radius: 18px;
            padding: 12px 12px;
            color: $white-color;
        }

        .btn-confirm{
            background-color: #AFB1B0;
        }

        .btn-processing{
            background-color: $yellow-color;
        }

        .btn-complete{
            background-color: $green-color;
        }
    }
}