@use '../../../scss/' as *;

.block-category{
    
    .category-container{
        margin-top: 48px;
        padding: 30px 20px;
    }

    .category-add{
        margin: 0 0 20px 12px;

        a{
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .category-table{
        border-collapse: collapse !important;
        padding-bottom: 30px;

        thead, tbody, tr {
            border-bottom: 1px solid #e9ecef !important;
            border-top: 1px solid #e9ecef !important;
        }

        thead>tr>th {
            padding: 12px 12px;
            color: #8898aa;
            font-size: 14px;
            background-color: #f6f9fc;
            text-align: center;
        }

        tbody>tr>td {
            padding: 12px 12px;
            color: #8898aa;
            font-size: 14px;
            background-color: #f6f9fc;
            text-align: center;
        }

        .category-status{
            font-size: 12px;
            font-weight: 600;
            color: $white-color;
            padding: 4px 8px;
            border-radius: 33px;

            &.active{
                background: $green-color;
            }
            &.inactive{
                background: $red-color;
                opacity: 0.7;
            }
        }
    }

    .category-form{
        .btn-add{
            background: $green-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            color: $white-color;
            border: none;
        }
    }
}