$black-color: #000;
$white-color: #fff;
$bg-home: #F7F8FA;
$green-color: #1AC073;
$turquoise-color: #F0FAF7;
$yellow-color: #F3BA00;
$gray-color: #929292;
$red-color: #F20505;
$heading-color: #101115;
$text-color: #1B1C21;
$text-cart: #22262A;
$quantity-cart: #F6F7F8;