@use '../../../scss/' as *;

.home-category{

    .category-list{
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 0;

        .category-item{
            border: 1px solid $yellow-color;    
            padding: 13px 40px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            letter-spacing: -0.012em;
            color: $gray-color;
            cursor: pointer;

            &:first-child{
                border-top-left-radius:  10px;
                border-bottom-left-radius:  10px;
            }

            &:last-child{
                border-top-right-radius:  10px;
                border-bottom-right-radius:  10px;
            }

            &.active{
                color: $black-color;
                background-color: $yellow-color;
            }
        }
    }
}