@use '../../../scss/' as *;

.chart {
    padding: 45px;
    background-color: #F6F7FD;
    &-box {
        margin-top: 48px;
        padding: 30px;
        border-radius: 10px;
        background-color: #FFFFFF;
    }

    &-time{
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;

        &__group{
            display: flex;
            flex-direction: column;
            gap: 16px;

            span{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
            }

            input, select{
                width: 150px;
            }
        }
    }
}