@use '../../scss/' as *;

.block-login{
    h2{
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 76px;

        margin-bottom: 16px;
        color: $green-color;
        text-align: center;
    }

    span{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $green-color;
        display: block;
    }

    .login-form{
        margin: 80px auto auto;
        max-width: 920px;
        text-align: center;

        &-input{
            position: relative;
            margin-bottom: 45px;

            input{
                background-color: $turquoise-color;
                border: none;
                height: 60px;
                width: 100%;
                padding: 0 0 0 30px;
                border-radius: 10px;


                &::placeholder {
                    color: $green-color;
                }

                &:focus{
                    border: none;
                    outline: none;
                }
            }
        }

        &-btn{
            input{
                background-color: $green-color;
                border: none;
                height: 60px;

                width: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: $white-color;
            }
        }
    }
}