@use '../../../scss/' as *;

.slider{
    width: 250px;
    position: fixed;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) ;
    height:100%;
    transition: all 0.5s ease;
    background-color: #fff;
    z-index: 20;
}